body{
    background-color: gray;
}

.shape {
    border: 2px solid blue;
    padding: 10px;
    background-color: lightgray;
    margin: 1rem 13rem 1rem 13rem;
}

.button {
    margin: 25px 400px 25px 400px;
}

.h1{
    
    color: white;
}

textarea{
    width:100%;
}

#catname{
    width:100%;
}

.sbutton{
    margin: 1rem 13rem 1rem 13rem;
}


.tshape {
    padding: 10px;
    background-color: lightgray;
    margin: 1rem 13rem 1rem 13rem;
}

@media only screen and (max-width: 600px) {
    .shape {
        border: 2px solid blue;
        padding: 10px;
        background-color: lightgray;
        margin: 1rem 8rem 1rem 8rem;
    }

    .sbutton{
        margin: 1rem 8rem 1rem 8rem;
    }

    .tshape {
        padding: 10px;
        background-color: lightgray;
        margin: 1rem 8rem 1rem 8rem;
    }
}