<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
    <link rel="stylesheet"  type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <form action="/category" method="POST">
        <h1>Create Category</h1>
        <div class="shape name">
            <h2>Name</h2>
            <input type="text" size="98" name="Name">
            <br>
        </div>
        <div class="shape description">
            <h2>Description</h2>
            <textarea name="Description" id="" cols="100" rows="10" placeholder="Describe what's your category about." ></textarea>
        </div>
        <div class="shape categoryrules">
            <h2>Category Rules</h2>
            <textarea name="Rules" cols="100" rows="10" placeholder="List the rules of the category that are unique to this category."></textarea>
        </div>
        <div class="shape backgroundimg">
            <h2>Background Image</h2>
            <input type="file" id="img" name="image" accept="image/*" >
        </div>
            <input type="submit" value="Create">
        </div>
    </form>

</body>
</html>